<div class="main-container">
  <div class="search-add">
    <div class="add-entry">
      <button class="AddButton" (click)="onAddEntry()">Add Entry</button>
    </div>
    <div class="search">
      <input type="text" class="searchTerm" placeholder="Search..." [(ngModel)]="nameCity">
    </div>
  </div>
  <td class="list-employees">
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>City</th>
        <th>Address Line 1</th>
        <th>Address Line 2</th>
        <th>Postal Code</th>
        <th>Edit</th>
      </tr>
      <tr *ngFor="let emp of filteredOptions && employeeData; let  i=index">

        <ng-container [formGroup]="empDetailsGroup" autocomplete="off">
          <td>{{emp.id}}</td>

          <td *ngIf="enableEditIndex != i">{{emp.name}}</td>
          <ng-container>
            <td *ngIf="enableEdit && enableEditIndex == i">
              <input type="text" formControlName="name" [(ngModel)]="emp.name" />
              <br>
              <span class="error-message" *ngIf="
            empDetailsGroup.get('name').invalid &&
            (empDetailsGroup.get('name').dirty ||
              empDetailsGroup.get('name').touched)
            ">Name is required</span>
            </td>
          </ng-container>

          <td *ngIf="enableEditIndex != i">{{emp.phone}}</td>
          <ng-container>
            <td *ngIf="enableEdit && enableEditIndex == i">
              <input type="text" formControlName="phone" [(ngModel)]="emp.phone" />

              <br>
              <span class="error-message" *ngIf="
            empDetailsGroup.get('phone').invalid &&
            (empDetailsGroup.get('phone').dirty ||
              empDetailsGroup.get('phone').touched)
            ">Invalid Phone Number</span>
            </td>
          </ng-container>

          <td *ngIf="enableEditIndex != i">{{emp.address.city}}</td>
          <ng-container>
            <td *ngIf="enableEdit && enableEditIndex == i">
              <input type="text" formControlName="city" [(ngModel)]="emp.address.city" />
              <br>
              <span class="error-message" *ngIf="
            empDetailsGroup.get('city').invalid &&
            (empDetailsGroup.get('city').dirty ||
              empDetailsGroup.get('city').touched)
            ">City is required</span>
            </td>
          </ng-container>

          <td *ngIf="enableEditIndex != i">{{emp.address.address_line1}}</td>
          <ng-container>
            <td *ngIf="enableEdit && enableEditIndex == i">
              <input type="text" formControlName="address1" [(ngModel)]="emp.address.address_line1" />
              <br>
              <span class="error-message" *ngIf="
            empDetailsGroup.get('address1').invalid &&
            (empDetailsGroup.get('address1').dirty ||
              empDetailsGroup.get('address1').touched)
            ">Dirty address</span>
            </td>
          </ng-container>


          <td *ngIf="enableEditIndex != i">{{emp.address.address_line2}}</td>
          <ng-container>
            <td *ngIf="enableEdit && enableEditIndex == i">
              <input type="text" formControlName="address2" [(ngModel)]="emp.address.address_line2" />
              <br>
              <span class="error-message" *ngIf="
              empDetailsGroup.get('address2').invalid &&
              (empDetailsGroup.get('address2').dirty ||
                empDetailsGroup.get('address2').touched)
              ">Dirty address</span>
            </td>
          </ng-container>



          <td *ngIf="enableEditIndex != i"> {{emp.address.postal_code}}</td>
          <ng-container>
            <td *ngIf="enableEdit && enableEditIndex == i">
              <input type="text" formControlName="postalCode" [(ngModel)]="emp.address.postal_code" />
              <br>
              <span class="error-message" *ngIf="
            empDetailsGroup.get('postalCode').invalid &&
            (empDetailsGroup.get('postalCode').dirty ||
              empDetailsGroup.get('postalCode').touched)
            ">Invalid postal code</span>
            </td>
          </ng-container>

          <td>
            <button class="cancel-emp-button" *ngIf="enableEdit && enableEditIndex == i"
              (click)="enableEdit=false; cancel()">Cancel</button>
            <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn"
              (click)="saveSegment(emp.id,emp.name,emp.phone,emp.address.city,emp.address.address1,emp.address.address2,emp.address.postal_code)"
              type="submit" class="add-emp-button">Save</button>
            <a href="#" class="table-row-action edit-action" *ngIf="i != enableEditIndex || enableEditIndex == null"
              (click)="enableEditMethod($event, i)">
              edit
            </a>
          </td>
        </ng-container>
      </tr>
      <ng-container *ngIf="addEntry">
        <ng-container [formGroup]="empDetailsGroup" autocomplete="off">
          <td>{{empLength + 1}}</td>

          <td><input type="text" formControlName="name" /><br>
            <span class="error-message" *ngIf="
            empDetailsGroup.get('name').invalid &&
            (empDetailsGroup.get('name').dirty ||
              empDetailsGroup.get('name').touched)
            ">Name is required</span>
          </td>

          <td><input type="text" formControlName="phone" />
            <br>
            <span class="error-message" *ngIf="
            empDetailsGroup.get('phone').invalid &&
            (empDetailsGroup.get('phone').dirty ||
              empDetailsGroup.get('phone').touched)
            ">Invalid Phone Number</span>
          </td>

          <td><input type="text" formControlName="city" />
            <br>
            <span class="error-message" *ngIf="
            empDetailsGroup.get('city').invalid &&
            (empDetailsGroup.get('city').dirty ||
              empDetailsGroup.get('city').touched)
            ">City is required</span>
          </td>

          <td><input type="text" formControlName="address1" />
            <br>
            <span class="error-message" *ngIf="
            empDetailsGroup.get('address1').invalid &&
            (empDetailsGroup.get('address1').dirty ||
              empDetailsGroup.get('address1').touched)
            ">Dirty address</span>
          </td>

          <td><input type="text" formControlName="address2" />
            <br>
            <span class="error-message" *ngIf="
            empDetailsGroup.get('address2').invalid &&
            (empDetailsGroup.get('address2').dirty ||
              empDetailsGroup.get('address2').touched)
            ">Dirty address</span>
          </td>

          <td><input type="text" formControlName="postalCode" />
            <br>
            <span class="error-message" *ngIf="
            empDetailsGroup.get('postalCode').invalid &&
            (empDetailsGroup.get('postalCode').dirty ||
              empDetailsGroup.get('postalCode').touched)
            ">Invalid postal code</span>
          </td>
          <td>
            <button class="cancel-emp-button" (click)="onCancelEntry()">
              Cancel
            </button>
            <button class="add-emp-button" [disabled]="empDetailsGroup.invalid && empDetailsGroup === null"
              (click)="onAdd(empLength+ 1)">
              Add
            </button>
          </td>
        </ng-container>
      </ng-container>
    </table>
</div>
